body{
    background-color: rgb(25, 70, 175);
    color: azure;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(161, 150, 150);
    }
.container-1{
    display: flex;

    justify-content: center;
    align-items: center;
    }
.image{
    background-color: rgb(0, 0, 0);
    margin: 30px;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    text-align: center;
    }
    .image img{
        border-radius: 100px;
        width: 200px;
        height: 200px;
    }
    img{
        width: 200px;
        height: 200px;
    }
    .img2{
        width: 250px;
    }
    h1, a{
        width: 100%;
        text-align: center;
        text-decoration: none;
    }
    h5{
        font-size: 26px;
    }
    p{
        text-align: justify;
        font-size: 25px;
    }
    #p2{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1500px;
    }
    .cards{
        display: flex;
        justify-content: space-evenly;
        margin-top: 100px;
    }
    .container-2 p{
    display:flex;
    justify-content: space-evenly;    
    }
    .techn{
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }
    h1{
        font-size: 50px;
    }
    .techn h1{
        margin: 100px;
        
    }
    .techn img{
        margin-left: 30px;
        margin-right: 30px;
    }
    .alingn{
        display: flex;
        flex-direction: column;
        width:900px;
        margin-left: 20vw;
    }
    .card{
        margin: 0;
        display: flex;
        flex-direction: column;
    }
    .footer{
        display: flex;
        align-items: center;
        justify-content: end;
    }
    footer{
        background-color: rgb(255, 255, 255);
        margin-top: 100px;
        height: 30px;
        padding: 50px;
    }
    .block{
        display: flex;
        flex-direction: row;
    }
    footer img{
        width: 25px;
        height:25px;
    }
    .caixa{
        margin-right: 900px;
    }
    h5{
        color: black;
        font-size: 20px;
    }